.topnav {
  overflow: hidden;
  background-color: white;
  margin-top: 40px;
  margin-left: 1000px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid #DCDCDC;
}

.topnav a.active {
  border-bottom: 3px solid #DCDCDC;
}
.contactBakground{
  height: 725px;
  background:black;
}
.contactlogo{
  width: 100px;
  margin-top: -250px;
  margin-left: 1000px;;
}
.contactImageOne{
  margin-top: -300px;
}
h2{
  color: white;
  font-size: 70px;
  margin-left: 250px;
  margin-top: -250px;
}
.contacthorizontal{
  width: 500px;
  margin-left: 150px;
  margin-top: -30px;
  font-family: serif;
  border-top: 1px  solid white;
}
.contactParagraph{
  color: white;
  margin-left: 300px;
  font-size: 25px;
}
.phone{
  color: white;
  margin-top: 70px;
  margin-left: 300px;
  font-size: 25px;
}

.phonIconImage{
  margin-top: 10px;
  width:30px;
  margin-left: -250px;
}
.email{
  color: white;
  margin-top: 30px;
  margin-left: 300px;
  font-size: 25px;
}
.githubButton{
  height: 40px;
  border-radius: 5px;
  width: 180px;
  color: black;
  font-size: 19px;
  margin-top: 50px;
  margin-left: 300px;
  background-color: white;
}
.linkedInButton{
  height: 40px;
  border-radius: 5px;
  width: 180px;
  color: black;
  font-size: 19px;
  margin-top: 50px;
  margin-left: 80px;
  background-color: white;
}
