<div class="topnav">
  <a routerLink="/home">Home</a>
  <a routerLink="/work">Work</a>
  <a routerLink="/contact">Contact</a>
</div>

<div class="imageWorkOne">
  <img class="workImage" src="assets/img/worktwo.jpg">
</div>
<p class="workTitle">Here are some of my works:</p>
<div class="imageWorkOne">
  <p><a href="https://hair-salon-0733.herokuapp.com/"><img class="salonImage" src="assets/img/salon.png"></a></p>
</div>
<hr class="greyWork">
<h3 class="hairSalonTitle">Hair Salon</h3>
<div class="hairSalonNoteDiv">
  <p class="hairSalonNote">Hair Salon is an app in which the user is able able<br> to add a list of  stylists, and for each stylist,<br> add clients who see that stylist.</p>
</div>
<div class="imageWorkTwo">
  <p><a href="https://mighty-spire-73851.herokuapp.com/"><img class="HeroImage" src="assets/img/heroes.png"></a></p>
</div>
<h3 class="heroSquadTitle">Hero Squad</h3>
<div class="heroSquadNoteDiv">
  <p class="heroSquadNote">Hero-Squad is an app that allows the user to recruit <br>a well-balanced team of superheroes (or any other <br>character-type of your choosing).</p>
</div>
