<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#work">Work</a>
  <a href="#contact">Contact</a>
</div>

<div class="slide">
  <h1>Hello,</h1>
</div>
<div class="up">
  <h2>I am Melvin Muuo</h2>
</div>
<div class="upTwo">
  <h3>A java and android developer</h3>
</div>

<p id="homeLineOne">I am an android developer based in Nairobi.</p>
<p id="homeLineTwo">I design and pilot web projects.</p>
<p id="homeLineThree">I am committed to making innovation accessible to all and building an ethical technology.</p>

<div class="greyColour">
  <h3 class="skillsHeading">My Skills</h3>
  <p class="skillsOne">- Android</p>
  <p class="skillsTwo">- Java Framework:Java</p>
  <p class="skillsThree">- JavaSript Framework: Angular</p>
  <div class="imageOne">
    <img class="androidlogo" src="assets/img/andoridblackfour.png">
  </div>
  <div class="imageTwo">
    <img class="javalogo" src="assets/img/blackjavalogothree.png">
  </div>
  <div class="imageThree">
    <img class="angularlogo" src="assets/img/angularlogoone.png">
  </div>
</div>
