<div class="topnav">
  <a routerLink="/home">Home</a>
  <a routerLink="/work">Work</a>
  <a routerLink="/contact">Contact</a>
</div>

<div class="slide">
  <h1>Hello,</h1>
</div>
<div class="up">
  <span class="textOne">I'm Melvin Muuo</span>
  <span class="textTwo">A java and android developer</span>
  <span class="textThree">I design web projects and android applications</span>
  <span class="textFour">I am committed to making innovation accessible to all and building an ethical technology.</span>
  <span class="textFive">I'm based in Nairobi.</span>
</div>

<div class="greyColour">
</div>
<div class="divSkillsHeading">
  <h3 class="skillsHeading">My Skills</h3>
</div>
  <p class="skillsOne">Android</p>
  <p class="skillsTwo">Java Framework:Java</p>
  <p class="skillsThree">JavaSript Framework: Angular</p>
  <div class="imageOne">
    <img class="androidlogo" src="assets/img/androidwhite.png">
  </div>
  <div class="imageTwo">
    <img class="javalogo" src="assets/img/javawhite.png">
  </div>
  <div class="imageThree">
    <img class="angularlogo" src="assets/img/angularwhite.png">
  </div>
